
<div ng-if="foundItems.length > 0">
<br><br><br>
  <table>
    <tr>
      <th colspan = 4><hr class="style1"></th>
    </tr>
    <tr class="lists">
      <th>Short Name</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Remove It</th>
    </tr>
    <tr>
      <th colspan = 4><hr class="style1"></th>
    </tr>
    <tr ng-repeat="item in foundItems">
      <td>{{ item.short_name }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>
        <button class="btn btn-default butt" ng-click="onRemove({index: $index})">
          <span class="glyphicon glyphicon-remove gly"></span>
          Don't want this one!
        </button>
      </td>
    </tr>
    <tr>
      <th colspan = 4><hr class="style1"></th>
    </tr>
  </table>
</div>
<br><br><br>
<div id = "nothing" ng-if="foundItems.length === 0">Nothing found.</div>
